main > .section .banner-wrapper {
    padding: 0;
}
.banner.block {
    position: relative;
}
.banner.block .banner-title {
    position: absolute;
    bottom: 0;
    color: #fff;
    text-align: center;
    left: 0;
    right: 0;
}
.banner.block picture img {
    height: 500px;
    width: 100%;
}